.mainContent {
  padding-top: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: darkgray;
  width: 100%;
  justify-content: center;
}
#grad_right, #grad_left {
  width: calc((100% - 1000px) / 2);
  background-color: gray;
  height: 100vh;
}
.slick-arrow.slick-prev {
  padding-left: 35px;
  z-index: 99;
}
.slick-arrow.slick-next {
  padding-right: 55px;
  z-index: 99;
}
ul.slick-dots {
  margin-bottom: 40px;
}
/* #grad_right {
  background: #ffffff;
background: linear-gradient(90deg,#ffffff 0%, rgb(0,0,0,0) 10%);

}
#grad_left {
  background: #ffffff;
background: linear-gradient(270deg,#ffffff 0%, rgb(0,0,0,0) 10%);
} */